*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: url(neon.jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
form{
  margin: 0;
  width: 100%;
  height: 100%;
  left: 0; right: 0;
  top: 0; bottom: 0;
}
h1{
  font-size: 2rem;
  text-align: center;
  background: white;
  margin: 0;
  color: darkslategray;
  border-bottom: 2px solid teal;
}
img{
  width: 40px;
  height: 40px;
  display: inline;
  border-radius: 50%;
  border: 1px solid white;
  margin: 4px;
}
h4{
  display: inline;
}
.mai1{
  margin: 0;
  background: rgba(22,12,150,0.2);
  width: 100%;
  height: 10em;
  color: aliceblue;
  font-size: 8vw;
  text-align: center;
  
}
.mai2{
  margin: 0;
  background: rgba(150,12,12,0.2);
  width: 100%;
  height: 10em;
  color: aliceblue;
  font-size: 8vw;
  text-align: center;
}
main input[type=text]{
  width: 2em;
  height: 32vh;
  text-align: center;
  font-size: 3em;
  padding: 0;
  color: aliceblue;
  background: transparent;
  border: 2px solid grey;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}
  main input[onclick^="p"]{
    border: none;
    background: gray;
    border-radius: 20vw;
    width: 25px;
    height: 25px;
    color: aliceblue;
  }
  #tiem{
    background: gray;
    text-align: center;
    padding: 20px;
    font-size: 10vw;
    color: cyan;
    border-radius: 20px;
  }
  div span{
    font-size: 10vw;
    color: aliceblue;
  }
  #xx, #yy, #zz{
    width: 80%;
    height: 50px;
    text-align: center;
    font-size: 7vw;
    margin-top: 30px;
    border: none;
    background: whitesmoke;
    border-radius: 20px;
  }
  input[onclick^="s"]{
    width: 70px;
    height: 25px;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
  }
section{
  width: 100%;
  height: 20em;
  text-align: center;
  background: turquoise;
  overflow: auto;
  display: none;
}
h3{
  background: teal;
  color: aliceblue;
  font-size: 3em;
  padding: 0;
  margin: 0;
}
section div{
  display: block;
  margin: 10px;
}
section div input[type=text]{
  width: 90%;
  height: 40px;
  padding-left: 10px;
}
section div input[type=button]{
  width: 5em;
  height: 2em;
  border-radius: 20px;
  border: none;
  background: gray;
}
h6{
  color: teal;
  margin: 0;
  background: whitesmoke;
  font-size: 1.5em;
}
button{
  background: whitesmoke;
  border: none;
  position: absolute;
}
.bar{
  width: 2em;
  height: 0.5em;
  background: grey;
  margin: 0.3em;
}
@media screen and (min-width:600px){
 h1{
  font-size: 3rem;
  text-align: center;
  background: white;
  margin: 0;
  color: darkslategray;
  border-bottom: 3px solid teal;
}
img{
  width: 50px;
  height: 50px;
  display: inline;
  border-radius: 50%;
  border: 1px solid white;
  margin: 5px;
}
h4{
  display: inline;
}
.mai1{
  margin: 0;
  background: rgba(22,12,150,0.2);
  width: 50%;
  height: 10em;
  color: aliceblue;
  font-size: 10vw;
  text-align: center;
  float: left;
  border-left: 2px solid tomato;
}
  .mai2::after{
    content: "Vs";
    position: absolute;
    z-index: 1;
    border: 2px solid gray;
    border-radius: 20px;
    top: 80%;
    left: 46%;
    width: 30vh;
    height: 30vh;
    font-size: 20vh;
    color: azure;
    backdrop-filter: blur(15px);
    margin: 0;
  }
.mai2{
  margin: 0;
  background: rgba(150,12,12,0.2);
  width: 50%;
  height: 10em;
  color: aliceblue;
  font-size: 10vw;
  text-align: center;
  float: left;
  border-right: 2px solid lightblue;
}
  main input[type=text]{
  width: 30vw;
  height: 35vw;
  text-align: center;
  font-size: 1.5em;
  padding: 0;
  color: aliceblue;
  background: transparent;
  border: 2px solid grey;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}
  main input[onclick^="p"]{
    border: none;
    background: gray;
    border-radius: 20vw;
    width: 25px;
    height: 25px;
    color: aliceblue;
  }
  #tiem{
    width: 70%;
    clear: both;
    background: gray;
    text-align: center;
    padding: 20px;
    font-size: 10vw;
    color: cyan;
    border-radius: 20px;
  }
  div span{
    font-size: 10vw;
    color: aliceblue;
  }
  #xx, #yy, #zz{
    width: 80%;
    height: 50px;
    text-align: center;
    font-size: 7vw;
    margin-top: 30px;
    border: none;
    background: whitesmoke;
    border-radius: 20px;
  }
  input[onclick^="s"]{
    width: 70px;
    height: 25px;
    border: none;
    border-radius: 20px;
    margin-left: 60px;
    margin-top: 10px;
  }
section{
  width: 45%;
  height: 100%;
  left: 0;
  text-align: center;
  background: turquoise;
  overflow: auto;
  display: none;
  position: absolute;
  z-index: 1;
}
  section::after{
    content: "";
    clear: both;
    display: table;
  }
h3{
  background: teal;
  color: aliceblue;
  font-size: 3em;
  padding: 0;
  margin: 0;
}
section div{
  display: block;
  margin: 10px;
}
section div input[type=text]{
  width: 90%;
  height: 40px;
  padding-left: 10px;
}
section div input[type=button]{
  width: 5em;
  height: 2em;
  border-radius: 20px;
  border: none;
  background: gray;
}
h6{
  color: teal;
  margin: 0;
  background: whitesmoke;
  font-size: 1.5em;
}
button{
  background: whitesmoke;
  border: none;
  position: absolute;
  z-index: 2;
}
.bar{
  width: 2em;
  height: 0.5em;
  background: grey;
  margin: 0.3em;
}
}


